---
title: Saigon Cup 2017
---

<div class="header">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header hidden-xs hidden-sm">
        <span class="navbar-brand" href="#">
          <%= image_tag 'sgc-logo.png', :class => 'logo' %>
        </span>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><%= t('about') %></a></li>
        <li><a href="#"><%= t('games') %></a></li>
        <li><a href="#"><%= t('rules') %></a></li>
        <li><a href="#"><%= t('sponsors') %></a></li>
        <li><a href="#"><%= t('venue') %></a></li>
        <li><a class="register btn"><%= t('register') %></a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag 'sgc-logo.png', :class => 'main-logo img-responsive' %>
      </div>
      <div class="col-xs-12">
        <p class="subheader">
          20-21.05.2017, Infinity Game Zone Phu Tho
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <a class="btn register-now" href="#"><%= t('register_now') %></a>
      </div>
    </div>
  </div>
</div>

<div class="container content">

  <div class="row">
    <div class="col-xs-12">
      <h1><%= t('what_is_sgc') %></h1>
      <p><%= t('sgc_is') %></p>
      <%= image_tag 'trailer.png', :class => 'trailer center-block img-responsive' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1><%= t('competitive_games') %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= image_tag 'sf-logo.png', :class => 'game-logo center-block img-responsive' %>
      <p>
        <%= t('sfv_single') %>
        <br />
        <%= t('sfv_team') %>
      </p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag 'bb-logo.png', :class => 'game-logo center-block img-responsive' %>
      <p><%= t('single') %></p>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= image_tag 'gg-logo.png', :class => 'game-logo center-block img-responsive' %>
      <p><%= t('single') %></p>
    </div>
  </div>
</div>
